@use './reset';
@use "./helper";
$bg: #000;
$fonts: #fff;

.logo {
  background: $bg;
  color: $fonts;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0.5rem 5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

ul.nav-link {
  li {
    list-style: none;
    padding: 0.5rem;
    margin: 0 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    a {
      transition: 0.3s all ease-in-out;
      color: darken(#fff, 15%);
    }
    &:hover a {
      transition: 0.3s all ease-in-out;
      color: darken(#fff, 5%);
    }
  }
}

@media (max-width: 690px) {
  ul.mobile-hide {
    position: absolute;
    top: 0;
    padding: 1rem 2rem;
    left: 0;
    flex-direction: column;
    background: rgb(246, 255, 193);
    width: 100%;
    transform: translateY(-100%);
    li {
      padding: 2rem 0;
    }
  }
}

.home {
  position: relative;
  background: $bg;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 5rem;
  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    position: relative;
    color: $fonts;
    &:after {
      height: 100%;
      background: $bg;
      width: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      animation: pulldown 2s ease-in-out;
      transition: transform;
      transform: scaleY(0);
    }
  }
  h3 {
    position: relative;
    font-size: 2.5rem;
    color: $fonts;

    &:after {
      height: 100%;
      background: $bg;
      width: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      animation: pulldown2 3s ease-out;
      transition: transform;
      transform: scaleY(0);
    }
  }
}
@keyframes pulldown {
  0% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  70% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
@keyframes pulldown2 {
  0% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  90% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

section {
  padding: 3rem 5rem;
  min-height: 100vh;
}
